{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Create new Category</h1>

        {{ include('category/_form.html.twig') }}

        <a href="{{ path('app_category_index') }}" class="btn btn-secondary mt-3">Back to List</a>
    </div>
{% endblock %}
